.navbar{
    background-color: rgb(36,186,239);
}

.social-icons i{
    margin: 0 1rem;
}


@media (max-width:991px){
    .navbar{
        text-align: center;
    }
    
    .navbar-nav li,.social-icons{
        margin-top: 0.8rem;
    }
}