<ngx-spinner
  bdColor="rgba(51,51,51,0.5)"
  size="medium"
  color="rgba(36,186,239,.8)"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: var(--light-bg)">Loading...</p>
</ngx-spinner>

<div class="row py-5 mt-5">
    <div class="col-sm-4 col-md-3">
        <div class="caption mt-4">
            <div class="brdr w-25 mb-5"></div>
            <h2>Trending</h2>
            <h2>TvShows</h2>
            <h2>To Watch Now</h2>
            <span>Most Watched Tvs By Weeks</span>
            <div class="brdr w-100 mt-5"></div>

        </div>
    </div>

    <div class="col-sm-4 col-md-3" *ngFor="let item of trendingTvs">
      <div class="movie my-3">
          <img [src]="baseUrl+item.poster_path" class="img-fluid" alt="">
          <div class="content">
              <h2 class="h6 py-2">{{item.name}}</h2>
              <p>Rate : <span>{{item.vote_average.toFixed(2)}}</span></p>
              <button routerLink="/details/{{item.id}}/tv" class="btn">Show Details</button>
          </div>
      </div>
  </div>

</div>


<div class="d-flex justify-content-center my-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a [ngClass]="{'disabled': currentPage == 1}" (click)="getPrevTv()" class="page-link" aria-label="Previous">
              <span class="text-white" aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li (click)="getTvs(page)" [ngClass]="{'active': page === currentPage}" *ngFor="let page of pagesNumber" class="page-item"><a class="page-link">{{page}}</a></li>
          <li class="page-item">
            <a [ngClass]="{'disabled': currentPage == 50}" (click)="getNextTv()" class="page-link" aria-label="Next">
              <span class="text-white" aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
</div>