
*{
    color: #949cb0;
}

span{
    background-color: rgba(36,186,239,.6);
    margin-right:8px;
    padding:10px;
    border-radius: 5px;
    color: #d0d9f0;
}

.row{
    width: 90%;
    margin-top: 3% !important;
}

.similar{
    cursor: pointer;
}