<div class="row py-5">
    <div class="col-md-4">
        <div class="caption mt-4">
            <div class="brdr w-25 mb-5"></div>
            <h2>Trending</h2>
            <h2>Movies</h2>
            <h2>To Watch Now</h2>
            <span>Most Watched Movies By Weeks</span>
            <div class="brdr w-100 mt-5"></div>

        </div>
    </div>

    <div class="col-md-2" *ngFor="let item of trendingMovies">
        <a routerLink="/details/{{item.id}}/movie">
            <div class="movie my-3 position-relative">
                <img [src]="baseUrl+item.poster_path" class="img-fluid" alt="">
                <h2 class="h6 py-2">{{item.original_title}}</h2>
                <div class="vote position-absolute top-0 end-0 p-2 text-white">{{item.vote_average.toFixed(1)}}</div>
            </div>
        </a>
    </div>
</div>



<div class="row py-5">
    <div class="col-md-4">
        <div class="caption mt-4">
            <div class="brdr w-25 mb-5"></div>
            <h2>Trending</h2>
            <h2>TvShows</h2>
            <h2>To Watch Now</h2>
            <span>Most Watched TvShows By Weeks</span>
            <div class="brdr w-100 mt-5"></div>

        </div>
    </div>

    <div class="col-md-2" *ngFor="let item of trendingTv">
        <a routerLink="/details/{{item.id}}/tv">
            <div class="movie my-3 position-relative">
                <img [src]="baseUrl+item.poster_path" class="img-fluid" alt="">
                <h2 class="h6 py-2">{{item.name}}</h2>
                <div class="vote position-absolute top-0 end-0 p-2 text-white">{{item.vote_average.toFixed(1)}}</div>
            </div>
        </a>
    </div>
</div>